<div class="ar">

	<h1>المدن المتاحه</h1>
	<ul>
		<li>
			<a href="/city/Makkah/مكه" target="_blank">مكه المكرمه</a>
		</li>
		<li>
			<a href="/city/Makkah/جدة" target="_blank">جدة</a>
		</li>
		<li>
			<a href="/city/Makkah/الرياض" target="_blank">الرياض</a>
		</li>
		<li>
			<a href="/city/Makkah/بريدة" target="_blank">بريدة</a>
		</li>
		<li>
			<a href="/city/Makkah/الدمام" target="_blank">الدمام</a>
		</li>
		<li>
			<a href="/city/Makkah/ابها" target="_blank">ابها</a>
		</li>
		<li>
			<a href="/city/Makkah/تبوك" target="_blank">تبوك</a>
		</li>
		<li>
			<a href="/city/Makkah/حائل" target="_blank">حائل</a>
		</li>
		<li>
			<a href="/city/Makkah/عرعر" target="_blank">عرعر</a>
		</li>
		<li>
			<a href="/city/Makkah/سكاكا" target="_blank">سكاكا</a>
		</li>
		<li>
			<a href="/city/Makkah/نجران" target="_blank">نجران</a>
		</li>
		<li>
			<a href="/city/Makkah/جازان" target="_blank">جازان</a>
		</li>
		<li>
			<a href="/city/Makkah/الباحة" target="_blank">الباحة</a>
		</li>
		<li>
			<a href="/city/Makkah/المدينة" target="_blank">المدينة</a>
		</li>
	</ul>
</div>
